---
import { getCollection } from 'astro:content';
import Search from '@/components/search';
import PageLayout from '@/components/layouts/PageLayout.astro';
// import Button from '@/components/button';
import slateConfig from '~@/slate.config';

const postCollection = await getCollection('post', ({ data }) => {
  return import.meta.env.DEV || data.draft !== true;
});


const posts = [...postCollection]
  .sort((a, b) => b.data.pubDate!.getTime() - a.data.pubDate!.getTime())
  .map((post) => ({
    id: post.id,
    slug: post.slug,
    url: `/blog/${post.slug}`,
    data: post.data,
  }));
---

<PageLayout>
  <section class="relative mb-16">
    <h3 class="text-[40px] font-semibold leading-tight text-slate12">
      {slateConfig.title}
    </h3>
    <p class="text-xl text-slate10">{slateConfig.description}</p>
    <Search
      client:only="react"
      className="absolute right-0 top-1/2 -translate-y-1/2"
    />
  </section>

  <section class="mb-16">
    <div class="text-base flex flex-col gap-3">
      {
        posts.map((item) => (
          <a class="flex cursor-pointer flex-col justify-between rounded-lg border border-[var(--color-H-blue-300)] bg-white/80 py-2.5 transition-all active:scale-[0.995] sm:flex-row sm:items-center sm:px-2 hover:bg-[var(--color-H-blue-100)] dark:bg-[var(--color-H-black)] dark:border-[var(--color-H-blue-700)] dark:hover:bg-[var(--color-H-blue-900)]" href={item.url} title={item.data.title}>
            <span class="shrink-0 text-[var(--color-H-blue-900)] dark:text-[var(--color-H-blue-300)]">{item.data.title}</span>
            <span class="mx-8 hidden h-px w-full grow border-t border-dashed border-[var(--color-H-blue-300)] dark:border-[var(--color-H-blue-700)] sm:flex" />
            <span class="shrink-0 text-[var(--color-H-blue-700)] dark:text-[var(--color-H-blue-300)]">
              {item.data.pubDate?.toLocaleDateString('es-ES', {
                year: 'numeric',
                month: 'short',
                day: 'numeric',
              })}
            </span>
          </a>
        ))
      }
    </div>
    <!-- <Button className='m-auto mt-6' block> More </Button> -->
  </section>

  
</PageLayout>
