---
import { getCollection } from 'astro:content';
import Search from '@/components/search';
import PageLayout from '@/components/layouts/PageLayout.astro';
// import Button from '@/components/button';
import slateConfig from '~@/slate.config';

const postCollection = await getCollection('post', ({ data }) => {
  return import.meta.env.DEV || data.draft !== true;
});

const posts = [...postCollection]
  .sort((a, b) => a.data.pubDate!.getTime() - b.data.pubDate!.getTime())
  .map((post) => ({
    id: post.id,
    slug: post.slug,
    url: `/blog/${post.slug}`,
    data: post.data,
  }));
---

<PageLayout>
  <section class="relative mb-16">
    <h3 class="text-slate12 text-[40px] leading-tight font-semibold">
      {slateConfig.title}
    </h3>
    <p class="text-slate10 text-xl">{slateConfig.description}</p>
    <Search
      client:only="react"
      className="absolute top-1/2 right-0 -translate-y-1/2"
    />
  </section>

  <section class="mb-16">
    <div class="flex flex-col gap-3 text-base">
      {
        posts.map((item) => (
          <a
            class="border-(--color-H-blue-300)] hover:bg-(--color-H-blue-100)] dark:bg-(--color-H-black)] dark:border-(--color-H-blue-700)] dark:hover:bg-(--color-H-blue-900)] flex cursor-pointer flex-col justify-between rounded-lg border bg-white/80 py-2.5 transition-all active:scale-[0.995] sm:flex-row sm:items-center sm:px-2"
            href={item.url}
            title={item.data.title}
          >
            <span class="text-(--color-H-blue-900)] dark:text-(--color-H-blue-300)] shrink-0">
              {item.data.title}
            </span>
            <span class="border-(--color-H-blue-300)] dark:border-(--color-H-blue-700)] mx-8 hidden h-px w-full grow border-t border-dashed sm:flex" />
            <span class="text-(--color-H-blue-700)] dark:text-(--color-H-blue-300)] shrink-0">
              {item.data.pubDate?.toLocaleDateString('es-ES', {
                year: 'numeric',
                month: 'short',
                day: 'numeric',
              })}
            </span>
          </a>
        ))
      }
    </div>
    <!-- <Button className='m-auto mt-6' block> More </Button> -->
  </section>
</PageLayout>
